
.card{
    box-shadow: 5px 5px aqua;
    background-color:bisque;
    padding: 10px;
}
#data{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    justify-items: center;
}
.input{
    /* display: flex;
    flex-direction: row;
    gap: 20px; */
    margin: 20px;
}