/* @import url("https://fonts.googleapis.com/css?family=Raleway:400,700"); */
*
{
    --primary:#fb4d62;
    --secondary: orange;
    --font-size: 24px;

}
body{
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
    width: 100vw;
}
/* header css starts here*/
header
{
    background-color: black;
	color: white;
    display: flex;
	justify-content: space-between;
	position: fixed;
	width: 100vw;
    /* padding-left: 10px; */
   

  
}
header ul
{
    display: flex;
    justify-content:space-between;
    gap: 20px;
    list-style-type:  none;
    padding-right: 30px;
    

}
a{
    color: white;
    text-decoration: none;
    font-size: 24px;

}
a:hover {
    color: var(--secondary);
}
/* header css ends here*/

section
{
    padding: 100px 100px;
}
p 
{
    font-size: 24px;

}
.img
{
    height:250px;
}
/* buttons start*/
button
{
    background-color: var(--primary);
    color: white;
    padding: 20px 50px ;
    border-radius: 50px;
    transition: all 1s ease;

}
button:hover
{
    background-color: var(--secondary);
    color: black;
}
.buttons
{
    display: flex;
    gap: 20px;
    font-size: 20px;
}
.buttons:nth-child(2)
{
    background-color: white;
}
/* buttond end*/

/* banners start*/
#banner
{
    display: flex;
    gap: 30px;
    max-width: 1400px;
    overflow-x: hidden;


}
#banner p{
    line-height: 1.5;
}

