/* @import url("https://fonts.googleapis.com/css?family=Raleway:400,700"); */
*
{
    --primary:#fb4d62;
    --secondary: orange;
    --third:  rgb(22, 129, 216);
    --font-size: 26px;

}
body{
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
    width: 100vw;
    /* color: rgb(22, 129, 216); */
}
/* header css starts here*/
header
{
    background-color: black;
	color: white;
    display: flex;
	justify-content: space-between;
	position: fixed;
	width: 100vw;
    /* padding-left: 10px; */
   

  
}
header ul
{
    display: flex;
    justify-content:space-between;
    gap: 20px;
    list-style-type:  none;
    padding-right: 30px;
    

}
a{
    color: white;
    text-decoration: none;
    font-size: 24px;

}
a:hover {
    color: var(--secondary);
}
/* header css ends here*/

section
{
    padding: 100px 100px;
}
p 
{
    font-size: var(--font-size);
    text-align:justify;

}
.img
{
    height:250px;
}
/* buttons start*/
button
{
    background-color: var(--primary);
    color: white;
    padding: 20px 50px ;
    border-radius: 50px;
    transition: all 1s ease;

}
button:hover
{
    background-color: var(--secondary);
    color: black;
}
.buttons
{
    display: flex;
    gap: 20px;
    font-size: 20px;
}
.buttons:nth-child(2)
{
    background-color: white;
}
/* buttond end*/

/* banners start*/
#banner
{
    display: flex;
    gap: 30px;
    max-width: 1400px;
    overflow-x: hidden;


}
#banner p{
    line-height: 1.5;
}

/* heading details*/

h1{
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 5px var(--secondary);
}
/* Project starts*/
#projects
{
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 20px;
}


/* Cards*/
.card img
{
    width: 100%;
}
.card{
   box-shadow: 5px 5px  black;
   border-radius: 15px;
   padding: 20px;
   transition: all 1s ease;
  
  
}
.card:hover{
    box-shadow: 7px 7px var(--third);
    scale: 1.05;
}

/* Cotact start*/
#contact
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.contact
{
    box-shadow: 5px 5px black;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    

}
.contact input, .contact select
{
    border-radius: 20px;
    width: 100%;
    height: 50px;
}
input::placeholder
{
    font-size: 16px;
}
/*Contact ends*/

/*Footer start*/
footer
{
    background-color: black;
    color: white;
    padding: 25px;
    text-align: center;
    

}
/**/













