.body
{
    background-color:rgb(209, 243, 243);
}

.but:hover{
     background-color: black;
    color: white;
}
.h1{
    background-color: rgb(9, 231, 231);
    text-align: center;
    border-radius: 10px; 
   
    
}
p{
    margin: 20;
    padding-left: 10px;
    padding-right: 200px;
    
}
.fi
{
    height: 350px;
    width: 250px;
}
