.total
{
   
    display:flex;
   justify-content: center;
   
   
}
  
   
.form{
    
    background-color: rgb(216, 214, 214);
    color: navy;
    text-align: left;
    border-style: solid ;
    border-radius: 10px;
    
    /* margin: auto;
    min-height: auto;
    max-width:fit-content;    */
   
   
}
   

